{
    auto_https disable_redirects
    admin off
}

https://localhost:8443 {
    tls internal
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
        -Server
    }

    reverse_proxy server:3780 {
        health_uri /health/ready
        transport http {
            keepalive 30s
        }
    }
}
